<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> <%=title%> </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '206197829739639',
      xfbml      : true,
      version    : 'v2.5'
    });

    FB.getLoginStatus(function(response) {
      document.getElementById('isConnected').innerHTML = response.status + " on facebook.";
    });
  };
  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "http://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    //only short term token
    var accessToken = response.authResponse.accessToken;
    // console.log("accessToken" + accessToken);

    document.getElementById('current_token').innerHTML = accessToken;

    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    //console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      //console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

  function customLogin() {
    FB.login(
      function(response) {
        console.log(response);
        statusChangeCallback(response)
      },
      {
        scope: 'user_likes,public_profile,email,publish_pages',
        auth_type: 'rerequest'
      }
    );
  }

  function customPost() {
    FB.getLoginStatus(function(response) {
      if (response.status=='connected') {
        sendPost();
      } else {
          FB.login(
            function(response) {
              sendPost();
            },
            {
              scope: 'user_likes,public_profile,email,publish_pages',
              auth_type: 'rerequest'
            }
          );
      }
    });
  }
  function sendPost(){
    FB.api(
      '/1728812260675990/feed', //cafeDori facebook page
      'post',
      { message: 'from js sdk!!!!! :(' },
      function(response) {
        document.getElementById('post_status').innerHTML = "POST ID : " + response.id;
    });
  }

</script>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/">Client Side Auth</a></li>
  <li role="presentation"><a href="/facebook">Server Side Auth</a></li>
  <li role="presentation"><a href="/facebook/post">facebook/post</a></li>
  <li role="presentation"><a href="/profile">Check Profile of Session</a></li>
  <li role="presentation"><a href="/getAdPreview">Ad Preview</a></li>
</ul>
<h1>Client Side Auth</h1>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      <div id="isConnected"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Login Button</h3>
    <button class="btn btn-info" onclick="customLogin()">customLogin</button>
    <!--
      Below we include the Login Button social plugin. This button uses
      the JavaScript SDK to present a graphical Login button that triggers
      the FB.login() function when clicked.
    -->
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert">
      <div id="status">After login you can check accessToken</div>
      <div id="current_token"></div>
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-success" onclick="customPost();">Post</button>
    <div class="alert alert-info" role="alert">
      <div id="post_status">After Post you can check post ID</div>
    </div>
  </div>
</div>



</body>
</html>
