<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> <%=title%> </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<div class="row">
	<div class="col-sm-6">
		<div class="list-group">
		  <a href="#index" class="list-group-item active">
		    INDEX
		  </a>
		  <a href="/main" class="list-group-item">main</a>
		  <a href="/getAdPreview" class="list-group-item">getAdPreview</a>
		</div>
	</div>


	<div class="col-sm-6">
		<div class="list-group">
		  <a href="#index" class="list-group-item active">
		    SHOPIFY
		  </a>
		  <a href="/shopify/" class="list-group-item">prompt</a>
		  <a href="/shopify/webhook/list" class="list-group-item">webhook/list</a>
		  <a href="/shopify/webhook/get" class="list-group-item">webhook/get</a>
		  <a href="/shopify/webhook/create" class="list-group-item">webhook/create</a>
		  <a href="/shopify/webhook/update" class="list-group-item">webhook/update</a>
		  <a href="/shopify/webhook/delete" class="list-group-item">webhook/delete</a>
		  <a href="/shopify/send-data" class="list-group-item">send-data</a>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-sm-6">
		<div class="list-group">
		  <a href="#index" class="list-group-item active">
		    FACEBOOK
		  </a>
		  <a href="/facebook/" class="list-group-item">login</a>
		  <a href="/facebook/post" class="list-group-item">Post on your Feed</a>
		  <a href="/facebook/1728812260675990/getPosts" class="list-group-item">/1728812260675990/getPosts</a>
		  <a href="/facebook/1728812260675990/post" class="list-group-item">/1728812260675990/post</a>
		  <a href="/facebook/campaigns" class="list-group-item">/campaigns</a>
		  <a href="/facebook/campaign/update" class="list-group-item">/campaign/update</a>
		  <a href="/facebook/adset/update" class="list-group-item">/adset/update</a>
		  <a href="/facebook/ad/update" class="list-group-item">/ad/update</a>
		  <a href="/facebook/pages" class="list-group-item">/pages</a>
		  <a href="/facebook/debug/token" class="list-group-item">/debug/token</a>
		</div>
	</div>


	<div class="col-sm-6">
		<div class="list-group">
		  <a href="#index" class="list-group-item active">
		    INSTAGRAM
		  </a>
		  <a href="/instagram/1728812260675990/account" class="list-group-item">1728812260675990/account</a>
		  <a href="/instagram/1728812260675990/account/backed" class="list-group-item">1728812260675990/account/backed</a>
		  <a href="/instagram/1728812260675990/account/backed/create" class="list-group-item">1728812260675990/account/backed/create</a>
		  <a href="/instagram/1728812260675990/createAdCreatives" class="list-group-item">1728812260675990/createAdCreatives</a>
		</div>
	</div>


</div>

</body>
</html>